body{
  background-color: #1e1f23;
}
main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  text-align: center;
}
/* Animation */
a#tci-link {
  position: absolute;
  left: 115px;
  top: 115px;
  transition: all .25s ease-out;
}
  img {
      width: 700px;
      padding-bottom: 50px;
  }

.sneaker-container {
  position: relative;
  cursor: col-resize;
  color: #ffffff;
}
  img {
      max-width: 100%;
  }

  .sneaker-clean {
      float: left;
  }

  .sneaker-dirty {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 9;
      clip-path: inset(0% 50% 0% 0%);
  }

footer {
  padding-top: 10%;
  position: relative;
  width: 100%;
}
  h1 {
      margin: 0;
  }

  p {
      margin-top: 0px;
      margin-bottom: -.5em;
  }
