*, *::before, *::after {box-sizing: border-box;}

html,body{
    margin: 0;
    height: 100%;
}

body{
    background-color: #1e1f23;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Size and Background  */
.toggle img
{
    width: 70px;
    cursor: pointer;
}
.menu li img
{
    width: 30px;
}
/* Video - Tutorial */
.menu
{

    position: relative;
    width: 240px;
    height: 235px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li{
    position: absolute;
    left: 0;
    list-style: none;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));  /* Lo que hace aqui en breves palabras es que cada elemento de la lista se va a mover con un delay de 0.1s multiplicado por el numero de elemento que es */
    transform-origin: 140px; /* El origen de la transformacion es el centro del circulo */
    transform: rotate(0deg) translateX(110px);  /* Aqui se le da la rotacion y la traslacion */
}
/* Efectoo de animacion */
.menu.active li
{
    transform: rotate(calc(360deg / 8 * var(--i)) ) translateX(0px);  /* Lo que hace aqui es que cada elemento de la lista se va a mover con un angulo de 360/8 * el numero de elemento que es */
}
.menu li a
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px ;
    height: 60px;
    color: var(--clr);
    border: 2px solid var(--clr);
    border-radius: 50%;
    font-size: 1.5em;
    transform: rotate(calc(360deg / -8 * var(--i)));  
    transition: 1s;
}
.menu li a:hover{
    transition: 0;
    background: var(--clr);
    color: #333;
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 50px var(--clr); 
}
.toggle:hover
{
    /* Cambiar color */
    filter: invert(1);
    box-shadow: 0 0 10px #000;
}
/* Resto */
.menu .toggle
{
    position: relative;
    width: 60px;
    height: 60px;
    background: #2f363e;
    border: 2px solid #fff;
    border-radius: 50%;
    color:white;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 10000;
    font-size: 2rem;
    transition: trasform 2.25s;
}

/*  Vairables usadas:
    --i: para el indice de los elementos
    --clr: para el color de los elementos que es el color
*/